*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans-Serif;
    /* color: white; */
  }
  
  body{
    display: grid;
    place-items: center;
  }
  
  header .title{
    margin: 10px auto;
    font-size: 3em;
  }
  header{
    display: grid;
    place-items: center;
    margin: 30px auto;
  }
  
  header .menu-btns{
    display: flex;
    gap: 10px;
  }
  header .menu-btns button{
    padding: 5px 12px;
    cursor: pointer;
  }
  
  
  main {
    max-width: 90vw;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
  }
  
  .card{
    background: white;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
  }
  .card .card-img{
    max-height: 150px;
    overflow: hidden;
  }
  .card .card-img img{
    object-fit: cover;
    object-position: center;
    width: calc(90vw / 2);
  }
  .card figcaption{
    padding: 10px;
  }
  .card figcaption .card-title{
    margin-bottom: 15px;
  }
  
  .active{
    background: black;
    color: white;
  }