*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-Serif;
  /* color: white; */
  text-decoration: none;
}
.wrapper{
  width: 100vw;
  max-height: 500px;
}
.img-wrapper{
  display: flex;
  overflow: hidden;
}

.img-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s;
  /* opacity: 1; */
}

.wrapper .btn-wrapper{
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.wrapper .btn-wrapper button{
  all: unset;
  padding: 10px 15px;
  color: black;
  font-weight: 900;
  cursor: pointer;
  background: rgba(255,255,255,0.75);
  border-radius: 5px;
}

.load{
  opacity: 0;
}