*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-Serif;
  /* color: white; */
  text-decoration: none;
}

body{
  display: grid;
  place-items: center;
  min-height: 100vh;
}
main {
  max-width: 80vw;
}

main h1{
  text-align: center;
  font-size: 2em;
  margin-bottom: 15px;
}
main form{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

main form input,
main form button{
   all: unset;
  height: 30px;
  padding: 5px 10px;
}
main form input{
  background: #eee;
  min-width: 200px;
  border-radius: 5px 0 0 5px;
}
main form button{
  background: #bbb;
  border-radius: 0 5px 5px 0;
  color: white;
  cursor: pointer;
}
main form button:hover{
  background: #aaaa;
}
#items-wrapper li .item .action-btns button{
  all: unset;
  cursor: pointer;
  padding: 5px 10px;
  color: white;
  border-radius: 4px;
}
#items-wrapper li .item .action-btns button[data-action=done]{
  background: limegreen;
}
#items-wrapper li .item .action-btns button[data-action=delete]{
  background: salmon;
}
#items-wrapper li .item{
  display: flex;
  margin: 10px auto;
  justify-content: space-between;
  align-items: center;
}

.done{
  text-decoration: line-through;
}
